<div id="movie_container" class="">

  <form action="/movies" method="get" class="form-search">
    <input placeholder="Search a movie..." type="text" name="input_title" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>

  <%  if !params["input_title"].nil? %>
    <p id="movies"><%= @results.title %></p>
      <li>
        <ul><%= "Plot:  " + @results.plot.to_s %></ul>
        <ul><%= "Year:  " + @results.released.to_s %></ul>
        <ul><%= "Director:  " + @results.director.to_s %></ul>
        <ul><%= "Actors:  " + @results.actors.join(",  ") %></ul>
      </li>

  <%  end %>

</div>