<div id="other_container" class="cf">
  <div id="stock_form">
    <form action="/stocks" method="get" class="offset9 form-search">
      <input placeholder="Search a stock..." type="text" name="input_stock" class="input-medium search-query">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>

  <div id="stock_info" class="span10 offset2">
    <%  if !params["input_stock"].nil? %>
      <ul id="symbol"><%= @stock.symbol.to_s %></ul>
      <ul id="company"><%= @stock.company.to_s %></ul>
      <ul class="stocks"><%= @stock.exchange.to_s %></ul>
      <ul class="stocks"></ul>
      <ul class="stocks"><%= "Last:  $" + @stock.last.to_s %></ul>
      <ul class="stocks"><%= "High:  $" + @stock.high.to_s %></ul>
      <ul class="stocks"><%= "Low:  $" + @stock.low.to_s %></ul>
    <%  end %>
  </div>

</div>